@using NHtaskMVC.Models.DbEntities;
@model IEnumerable<Device>

@{
    Layout = null;
    ViewData["Title"] = "ABOBA";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
<h4>Devices</h4>
<hr/>
<table>
    <tr>
        <th>ID</th>
        <th>BLD</th>
        <th>UBG</th>
        <th>BIL</th>
        <th>PRO</th>
        <th>NIT</th>
        <th>KET</th>
        <th>GLU</th>
        <th>PH</th>
        <th>SG</th>
        <th>LEU</th>
    </tr>
    @foreach (var device in Model)
    {
        <tr>
            <td>@device.ID</td>
            <td>@device.BLD</td>
            <td>@device.UBG</td>
            <td>@device.BIL</td>
            <td>@device.PRO</td>
            <td>@device.NIT</td>
            <td>@device.KET</td>
            <td>@device.GLU</td>
            <td>@device.PH</td>
            <td>@device.SG</td>
            <td>@device.LEU</td>
        </tr>
    }
</table>
</body>
</html>